:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --bg-primary: #E8EBF3;
    --green-primary: #32be8f;
    --blue-primary: #5C8AFF;
    --gray-primary: #a5a5a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #FFF;
    height: 4rem;
}

.logo {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.1ch;
    margin-right: 3rem;
    margin-left: 1rem;
}

.nav-item {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.25rem;
    background-color: var(--blue-primary);
    width: 0;
    border: none;
    border-radius: 1rem;
    transition: 150ms;
}


.nav-item:hover::after {
    width: 102%;
}

.nav-group .nav-item::after {
    content: '';
    display: none;
}

.nav-group {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.nav-link img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.link-text {
    text-decoration: none;
    font-weight: 500;
}
