:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --bg-primary: #E8EBF3;
    --bg-primary-translucent: #ced6ee;
    --green-primary: #32be8f;
    --blue-primary: #5C8AFF;
    --blue-primary-translucent: #5c8affb0;
    --gray-primary: #a5a5a5;
    --name-color: #515D76;
    --yellow-primary: #F4D03F;
    --yellow-hover: #F5B041;
    --green-primary: #58D68D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    width: 100%;
    height: 100%;
    min-height: 100vh !important;
    color: #000;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-primary);
}

.main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #FFF;
    transition: 200ms ease;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.navbar-nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--name-color);
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    width: 100%;
    cursor: pointer;
}

.logo svg {
    transform: rotate(0deg);
    transition: 400ms;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: 300ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-primary-translucent);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link i, .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
    font-size: 1.6rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-link span {
    color: var(--name-color);
}

.fas {
    color: var(--blue-primary);
    transition: 400ms;
}

.fa-primary {
    color: var(--blue-primary);
}

.fa-secondary {
    color: var(--blue-primary-translucent);
}

.fa-primary, .fa-secondary {
    transition: 400ms;
}

.products {
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.head {
    font-size: 2rem;
    font-weight: 500;
    color: var(--name-color);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.head img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.head .add-products-btn {
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFF;
    padding: 0.5rem 2rem;
    background-color: #32be8f;
    border: none;
    border-radius: 0.45rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: 150ms linear;
}

.head .add-products-btn:hover {
    background-color: #58D68D;
}

.filter-tags {
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tag {
    width: fit-content;
    height: fit-content;
    margin-right: 0.8rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.45rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 150ms linear;
}

.active {
    background-color: #FFF;
}

.tag:hover {
    background-color: #FFF;
}

.all-container, .fruits-veggies-container, .meat-container, .dairy-container, .snacks-container, 
.drinks-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.no-products-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--name-color);
}

.card {
    background-color: #FFF;
    padding: 0.5rem;
    border: none;
    border-radius: 00.45rem;
    height: 18rem;
    width: 100%;
}

.card img {
    width: 100%;
    height: 55%;
    object-fit: cover;
}

.details {
    margin-left: 0.75rem;
}

.product-name {
    font-size: 1.2rem;
    color: var(--name-color);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.product-cost .cost, .product-quantity .quantity {
    font-size: 1rem;
    color: var(--name-color);
    font-weight: 600;
    padding-left: 0.1rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
}

.overlay-open {
    overflow: hidden;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-products-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: fit-content;
    background-color: #FFF;
    padding: 2rem;
    border: none;
    border-radius: 0.45rem;
    z-index: 30;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.general-container, .image-container {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.2rem;
    color: var(--blue-primary);
    margin-bottom: 0.6rem;
    text-align: center;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    margin: 10px 0;
    background-color: #F0F0F0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    transition: 150ms linear;
}

.input-field:hover, .input-field:focus {
    box-shadow: 0 0 0.3em var(--blue-primary-translucent);
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #ACACAC;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 55px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 55px;
    margin: 10px 0;
}

.radio-input {
    display: none;
}

.radio-label {
    display: inline-block;
    background-color: #F0F0F0;
    width: 33%;
    height: 100%;
    text-align: center;
    color: #a5a5a5; 
    padding-top: 16px;
    cursor: pointer;
    transition: 100ms linear;
}

.radio-label:not(:last-of-type) {
    border-right: 1px solid #a5a5a5;
}

.radio-input:checked + .radio-label {
    background-color: var(--blue-primary-translucent);
    color: #333;
}

.radio-label:hover {
    color: #333;
}

.cross {
    position: absolute;
    top: 4%;
    right: 5%;
    font-size: 1.5rem;
    color: #EC7063;
    cursor: pointer;
    transition: 150ms linear;
}

.cross:hover {
    transform: scale(1.5);
    color: #E74C3C;
}
/* IMAGE STUFF */

.image-preview {
    width: 12rem;
    height: 10rem;
    min-height: 6.25rem;
    border: 1px dashed #a5a5a5;
    border-radius: 0.45rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #a5a5a5;
}

.preview-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-input {
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    background-color: #32be8f;
    transition: 150ms linear;
    color: #FFF;
}

.custom-input:hover {
    background-color: #58D68D;
}

#inpFile {
    display: none;
}

.btn-container {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.add-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 55px;
    background-color: var(--blue-primary);
    cursor: pointer;
    transition: 150ms linear;
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFF;
    margin-top: 1rem;
}

.add-button:hover {
    background-color: var(--blue-primary-translucent);
}

.profile {
    height: 100%;
    min-height: 12rem;
    width: 100%;
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.img-container {
    height: fit-content;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;
}

.profile-img img {
    height: 10rem;
    width: 10rem;
    border: none;
    border-radius: 50%;
}

.items-sold, .total-clicks {
    margin-left: 4rem;
    background-color: #FFF;
    border: none;
    border-radius: 0.45rem;
    padding: 1rem 2rem;
}

.total-clicks {
    margin-left: 1rem;
}

.sold-head, .clicks-head {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--name-color);
}

.count {
    font-size: 2rem;
    font-weight: 500;
}

.details-container {
    height: fit-content;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1.5rem;
}

.input-row {
    width: 100%;
    height: fit-content;
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-elements {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 48%;
}

.row-elements label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--name-color);
    margin-bottom: 0.2rem;
}

.input-row input {
    width: 100%;
    border: none;
    border-radius: 0.45rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: var(--bg-primary-translucent);
}

@-webkit-keyframes slide {
    0% {
        transform: translateX(-1000%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar:hover .link-text {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .nav-item {
        text-align: center;
        width: 4rem;
    }

    .nav-link {
        justify-content: center;
        align-items: center;
        height: 5rem;
    }

    .main {
        margin: 0;
    }
}