:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --bg-primary: #E8EBF3;
    --bg-primary-translucent: #ced6ee;
    --green-primary: #32be8f;
    --blue-primary: #5C8AFF;
    --blue-primary-translucent: #5c8affb0;
    --gray-primary: #a5a5a5;
    --name-color: #515D76;
    --yellow-primary: #F4D03F;
    --yellow-hover: #F5B041;
    --green-primary: #58D68D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    width: 100%;
    height: 100%;
    min-height: 100vh !important;
    color: #000;
    position: relative;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-primary);
}

.main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #FFF;
    transition: 200ms ease;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.navbar-nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--name-color);
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    width: 100%;
    cursor: pointer;
}

.logo svg {
    transform: rotate(0deg);
    transition: 400ms;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: 300ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-primary-translucent);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link i, .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
    font-size: 1.6rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-link span {
    color: var(--name-color);
}

.fas {
    color: var(--blue-primary);
    transition: 400ms;
}

.fa-primary {
    color: var(--blue-primary);
}

.fa-secondary {
    color: var(--blue-primary-translucent);
}

.fa-primary, .fa-secondary {
    transition: 400ms;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar:hover .link-text {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .nav-item {
        text-align: center;
        width: 4rem;
    }

    .nav-link {
        justify-content: center;
        align-items: center;
        height: 5rem;
    }

    .main {
        margin: 0;
    }
}